.container {
    display: grid;
    grid-template-columns: 60px 60px 60px 100px;
    grid-template-rows: 30px 30px;
    grid-auto-flow: row;
}
.container1 {
    display: grid;
    grid-template-columns: 70px 100px 100px 75px;
    grid-auto-flow: row;
}
.container2 {
    display: grid;
    grid-template-columns: 85px 85px 85px 75px 75px;
    grid-auto-flow: row;
}